<div class="container">

  <div class="row">
    <div class="col s2 m2">
      <div class="card">
        {{!-- <div class="card-image waves-effect waves-block waves-light"> --}}
          <img src="{{ user.user_pic_profile }}" alt="" class="circle responsive-img center-align">
        
        {{!-- </div> --}}
        <div class="card-content center-align">
          <p>
            {{ user.user_First_name }} {{ user.user_Last_name }}
          </p>
        </div>
      </div>
    </div>
    <div class="col s8"></div>
    <div class="col s2"></div>
    
    
  </div>





{{!-- 
        <div class="row">
          <div class="col s2 m1">
              <div class="card white">
                <span class="black-text">
                    <!-- <ul class="collection"> -->
                        <ul class="collection avatar">
                            <li class="collection-item avatar">
                                
                                <img src="{{ user.user_pic_profile }}" alt="" class="profilePic circle responsive-image">
                                <span>
                                    {{ user.user_First_name }}
                                </span>
                      
                                <span>
                                    {{ user.user_Last_name }}
                                </span>
                                
                            </li>
                          <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                        </ul>
                </span>
            </div>
          </div>
              
         </div> --}}

<!-- =============================================== -->
          <section>
            <div class="card-panel">
              <div class="row">
                
                <ul class="collection storyPic">
                  <li class="collection-item">
                  <img src="https://cdn.pixabay.com/photo/2018/05/13/17/18/paris-3397173_1280.jpg" alt="" class="card-image responsive-img center-align" width="250px" height="250px">
                  </li>
                </ul>
                
                <div class="col s10">
                  <div class="card-content">                  
                    <h4 class="card-title">Story Title<i class="material-icons right">more_vert</i></h4>
                    Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                  </div>
                  <div class="card-action">
                    <a href="#" class="mdl-button">Comment</a>
                  </div>
                </div>              
              </div>
            </div>                
          </section>

    <!--    ====================================== -->

              <!-- <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2> -->
              <!-- <h5 class="center">Speeds up development</h5> -->
              {{!-- <div class="row">
                <div class="col s12 m12">
                  <div class="card-panel hoverable white">
                    <div class="col s4 m4">
                      <ul class="collection">
                        <li class="collection-item avatar">
                          <img src="https://cdn.pixabay.com/photo/2018/05/13/17/18/paris-3397173_1280.jpg" alt="" class="card-image float-left" width="250px" height="250px">
                        </li>
                      </ul>
                      </div>
                      <div class="col s8 m8">
                        <ul class="collection">
                          <li class="collection-item">
                            <span class="black-text" >Story Title</span>
                      
                            <p>I'm a cool story. I like to talk about myself. I did some really cool things. I like to talk about the really cool things that I did. Please. Please Read me.</p>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div> --}}

              <div class="row">
                <div class="col s12 m5">
                  <div class="card-panel hoverable card-panel white">
                    <span class="black-text">
                        <ul class="collection">
                            <li class="collection-item avatar">
                              <img src="images/avatar-11.png" alt="" class="circle">
                              <span class="title">Recommendations</span>
                              <p>Food <br>
                                 Attractions <br>
                                 Events <br>
                              </p>
                              <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                            </li>
                    </span>
                  </div>
                </div>
              </div>

          </div>