<div class="container">
    <h1>user profile page</h1>
    <div class="row">
        <div class="col-md-6">

            {{!-- <ul>
                {{#each Participants}}
                <li>
                    <p>name: {{user_First_name}}</p>
 <p>last name: {{user_Last_name}}</p>
  <p>email: {{user_email}}</p>
   <p>bio: {{user_bio_info}}</p>

                </li>
                {{/each}}
            </ul> --}}

        </div>

        <div class="col-md-6">
            <ul>
                {{!-- {{#each Participants}}
                <li>
                    <p>Type: {{user_First_name}}</p>

                </li>
                {{/each}} --}}
            </ul>

        </div>

    </div>
</div>