{{!-- <div class="container"> --}}
    <div id="earth-container"class="row">
        <div class="col s12 m12">
            {{!-- <div id="earth_div" class="card-panel white" style="display:none"> --}}
                <div id="earth_div" style="height:500px">
                {{!-- <span class="black-text">World Travel Map
                    <img src="https://thumbs.dreamstime.com/b/hi-detail-blue-vector-political-world-map-illustration-high-cleverly-organized-layers-original-maps-cia-47581570.jpg" class="responsive-image worldMap">
                </span> --}}
            </div>
        </div>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field white col s6 center-align">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="search_input" class="materialize-textarea"></textarea>
                    <a class="waves-effect waves-light btn-small" id="searchSubmit">Button</a>
                </div>
            </div>
        </form>
    </div>

    

    <div class="row">
        {{#each user}}
            
        <div class="col s4 m4">
            <div class="card white" id="card1" style="display:none;">
                <span class="card-content black-text">
                    <span class="card-title">{{ user_First_name }} {{ user_Last_name }}</span>
                    {{!-- <ul class="collection avatar"> --}}
                        {{!-- <li class="collection-item avatar"> --}}
                            <img src="{{ user_pic_profile }}" alt="" class="circle-frame"> 
                            {{!-- <span>
                                {{ user_First_name }}
                            </span>
                          
                            <span>
                                {{ user_Last_name }}
                            </span> --}}
                        </li> 
                        {{!-- <ul> --}}
                            <p class="userPageStory">
                                {{ user_bio_info }}
                            </p>
                        {{!-- </ul> --}}
                        <div class="card-action">
                            
                            <a href="/api/getuser/{{ client_id }}" target="_blank">CHECK OUT PROFILE</a>
                            
                        </div>
                        
                        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                    </ul>
                </span>
            </div>
        </div>
        {{/each}}



    </div>

    <script>$(document).ready(function () {
        $('div.card').fadeIn(1500);
    });</script> 


    <script src="http://www.webglearth.com/v2/api.js"></script>
 
