{{!--
<div class="container"> --}}
  <div class="section">

    <div class="row">
      <div class="col s4 m4">
        <div class="icon-block">

          <div class="row">
            <div class="col s12">
              <div class="card horizontal">
                <div class="card-image">
                  <img src="{{ user.user_pic_profile }}" alt="" class="responsive-img">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <p>
                      {{ user.user_First_name }} {{ user.user_Last_name }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2> -->
          <!-- <h5 class="center">Speeds up development</h5> -->
          <div class="row">
            <div class="col s12">
              <div class="card-panel white">
                <span class="black-text">About Me
                  <div id="story">
                    <p class="userBio">
                      {{ user.user_bio_info }}
                    </p>

                  </div>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">

              <div class="card-panel white">
                <span class="black-text">Pictures
                </span>
              </div>

            </div>
          </div>

          <!-- icon-block -->
        </div>
      </div>

      <div class="col s8 m8">
        <div class="icon-block">
          <!-- <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2> -->
          <!-- <h5 class="center">User Experience Focused</h5> -->

          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image">
                  <h1>Click countries to select</h1>
                  <div id="chartdiv"></div>
                  <div id="info">Seletced countries:
                    <span id="selected">-</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section>
            <div id="user-profile-blog-container" class="col s12">
              <h4 class="header white-text">My Stories</h4>
              {{#each blog}}

              <div class="row">
                <div class="card horizontal col s12">


                  <div>
                    <div class="row">
                      <div class="card-image col s6">
                        <img src="https://cdn.pixabay.com/photo/2018/05/13/17/18/paris-3397173_1280.jpg" alt="" class="card-image responsive-img storyImg">
                      </div>
                      <div class="col s6">
                        <h4 class="card-title">{{ dataValues.user_title}}
                          <i class="material-icons right">more_vert</i>
                        </h4>
                      </div>
                    </div>

                    <div class="row">

                      <div  class="card-stacked">



                        <p>{{ dataValues.user_StoryList }} </p>

                      </div>
                      <div class="card-action">
                        <a href="/api/blog/{{ user.client_id }}" target="_blank">Read Story</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              {{/each}}
            </div>
          </section>

          <div class="row">
            <div class="col s12">
                <h4 class="title white-text">&nbsp;Recommendations</h4>

{{!-- food --}}
                <div class="col s6">
                  <div class="card hoverable" style="overflow:hidden">
                    <h5>&emsp;Restaurants/Dining</h5>
                    
                      <div class="card-content">
                      <ul class="collection">
                        {{#each food}}
                        <li class="collection-item avatar valign-wrapper">
                          <i class="material-icons circle green left">local_dining</i>
                          <P>{{ dataValues.user_rec_food }}</P>
                        </li>                      
                        {{/each}}
                      </ul> 
                      </div>
                    
                  </div>
                </div>
                
                {{!--Attractions --}}
                <div class="col s6">
                  <div class="card hoverable" style="overflow:hidden">
                    <h5>&emsp;Attractions</h5>
                    
                      <div class="card-content">
                      <ul class="collection">
                        {{#each attractions}}
                        <li class="collection-item avatar valign-wrapper">
                          <i class="material-icons circle red left">photo_camera</i>
                          <P>{{ dataValues.user_rec_att }}</P>
                        </li>
                        {{/each}}
                      </ul> 
                    </div>
                </div>
                </div>

                {{!-- Events --}}
                <div class="col s6">
                  <div class="card hoverable" style="overflow:hidden">
                    <h5>&emsp;Events</h5>
                    
                      <div class="card-content">
                      <ul class="collection">
                        {{#each events}}
                        <li class="collection-item avatar valign-wrapper">
                          <i class="material-icons circle blue left">photo_camera</i>
                          <P>{{ dataValues.user_rec_eve }}</P>
                        </li>
                        {{/each}}
                      </ul> 
                    </div>

                  </div>
                </div>
            </div>
          </div>


          <!-- icon block -->
        </div>
        <!-- col s9 -- >
  </div>
              <!-- row -->
      </div>

      <!-- section -->
    </div>

  </div>
  <p id="get-blog-user" style="opacity:0.0;">{{blogUserId}}</p>

  <script src="/js/userProfileInfo.js"></script>